In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [18]:
#Standard columns for all datasets
columns = [
    "MMSI", "BaseDateTime", "LAT", "LON", "VesselType"
]

target = ["VesselType"]

In [19]:
#this will take in the clean data from the SQLite database
#set up engine will take place here first. 

file_path = Path('1_2021_AIS.csv')
df = pd.read_csv(file_path, index_col=False)
df.set_index('MMSI')


# Drop the null rows
df = df.dropna()


df.head(15)

         MMSI         BaseDateTime       LAT        LON  VesselType
0   338181692  2021-01-01T00:00:56  37.86427 -122.48779        36.0
1   367157880  2021-01-01T00:01:14  37.50203 -122.48275        30.0
2   367548420  2021-01-01T00:01:03  37.79251 -122.28390        31.0
3   367426120  2021-01-01T00:00:50  37.80069 -122.39625        90.0
4   368010330  2021-01-01T00:00:51  37.90546 -122.37167         0.0
5   367464170  2021-01-01T00:01:21  38.04039 -122.13714        31.0
6   367002980  2021-01-01T00:00:54  37.87257 -122.45569        60.0
7   369540000  2021-01-01T00:00:06  38.04502 -122.12840        80.0
8   309822000  2021-01-01T00:00:52  37.51388 -122.20910        70.0
9   367349430  2021-01-01T00:00:48  37.79214 -122.28624        31.0
10  366963980  2021-01-01T00:00:55  37.94562 -122.50921        60.0
11  367671530  2021-01-01T00:00:53  37.76370 -122.31089        36.0
12  367699820  2021-01-01T00:00:10  37.99961 -121.36955        37.0
13  367786010  2021-01-01T00:00:51  37.79445 -122.39100        60.0
14  367699820  2021-01-01T00:01:14  37.99961 -121.36953        37.0

In [20]:
df['BaseDateTime'] = pd.to_datetime(df['BaseDateTime'] )
df.dtypes

MMSI                     int64
BaseDateTime    datetime64[ns]
LAT                    float64
LON                    float64
VesselType             float64
dtype: object

In [21]:
# Create our target
y = df[target]

# Create our features
X =  pd.get_dummies(df.drop('VesselType', axis=1))

In [22]:
X.describe()

               MMSI            LAT            LON
count  1.473490e+05  147349.000000  147349.000000
mean   3.674318e+08      37.847820    -122.294264
std    5.506843e+07       0.138423       0.266401
min    2.151310e+08      37.200910    -123.298660
25%    3.383111e+08      37.788030    -122.408560
50%    3.671579e+08      37.828920    -122.346060
75%    3.677336e+08      37.921590    -122.269310
max    6.360187e+08      38.151920    -121.320430